<a href="https://colab.research.google.com/github/gxilly/BasicProg_DataViz65/blob/main/Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ที่ต้อง import

In [9]:
import numpy as np #  Numpy array - Data Structure
import pandas as pd # Pandas dataframe
# data1 = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_unittype.csv')
import pandas as pd # Pandas101
# unit = pd.read_csv('/content/drive/My Drive/BPDV65/opendata_unittype.csv')

# link with google drive

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Data structure

## List
* ลำดับมีความสำคัญ
* เริ่มนับจาก 0

In [12]:
list_a = [1,2,3,4,5,6]
list_a

[1, 2, 3, 4, 5, 6]

In [13]:
list_a[0] # ชี้สมาชิก

1

In [14]:
list_a[-1]

6

### เพิ่มสมาชิก .append()  -  ลบสมาชิก .pop()

In [15]:
list_a.append('a')  #รัน 2 ครั้ง
list_a

[1, 2, 3, 4, 5, 6, 'a']

In [16]:
list_a.pop() # ลบจาก'ท้ายสุด'
list_a

[1, 2, 3, 4, 5, 6]

### len() ตรวจสอบจำนวนสมาชิกของ list

In [17]:
len(list_a)

6

### แยกเลขออก :  .split(':')

In [18]:
ex = '18:00:12'
ex

'18:00:12'

In [19]:
sp_ex = ex.split(':')
sp_ex # print(sp_ex)

['18', '00', '12']

### ex นับเวลา

In [20]:
total_sec = (int(sp_ex[0])*60*60) + (int(sp_ex[1])*60) + int(sp_ex[2])  #เอาint ไปใส่ข้างหน้าเพื่อให้เป็นint
print(total_sec)

64812

In [21]:
print(f'เวลา {ex} สามารถแปลงเป็นหน่วยวินาทีได้ {total_sec:,} วินาที')

เวลา 18:00:12 สามารถแปลงเป็นหน่วยวินาทีได้ 64,812 วินาที

## Dictionary
* ลำดับไม่มีความสำคัญ

In [22]:
dict_a = {1:'Happy','N':'New','2022':'Year'} # { } curly brackets

### การชี้ สมาชิกใน Dictionary

In [23]:
dict_a[1] #[ ] ใช้ชี้สมาชิก

'Happy'

In [24]:
dict_a['N']

'New'

In [25]:
dict_a.keys() #key

dict_keys([1, 'N', '2022'])

In [26]:
dict_a.values() #values

dict_values(['Happy', 'New', 'Year'])

### การเพิ่มสมาชิกลงไปใน Dictionary 
- ใส่ [ ] หลังตัวแปรที่ต้องการเพิ่ม

In [27]:
dict_a[7] = 3.14

In [28]:
dict_a

{1: 'Happy', 'N': 'New', '2022': 'Year', 7: 3.14}

In [29]:
dict_a['N'] = 'NNNNEEEEWWWW' # key ซ้ำตัวเดิม -->  แทน values ไปเลย

In [30]:
dict_a

{1: 'Happy', 'N': 'NNNNEEEEWWWW', '2022': 'Year', 7: 3.14}

# Phython101

## ชนิดของตัวแปร

### char(acter) (ตัวอักษร)

In [31]:
a = 'Ch'

In [32]:
b = 'aracter'

In [33]:
print(f'a={a} b={b}, then {a}+{b} = {a+b}')

a=Ch b=aracter, then Ch+aracter = Character

### int(eger) (จำนวนเต็ม)

In [34]:
int_a = 7
int_b = 2

In [35]:
int_c = int_a + int_b
print(int_c)

9

### float (จำนวนจริง ทศนิยม)

ใส่ . แต่ไม่เติม 0 = ทศนิยม

In [36]:
fl_a = 7.
fl_b = 2.571

In [37]:
fl_a

7.0

### เราสามารถตรวจสอบชนิดของตัวแปรด้วยคำสั่ง type()

`type()`

In [38]:
print(f'ตัวแปร a ค่าคือ {a} ชนิด {type(a)}')

ตัวแปร a ค่าคือ Ch ชนิด <class 'str'>

### การแปลงชนิดของตัวแปร (Variable Casting)

In [39]:
float(int_a) #เปลี่ยนint เป็น float

7.0

In [40]:
str(fl_b) #เปลี่ยน float เป็น str

'2.571'

### ```+``` -> concat(ต่อกัน), ```*``` -> repeat(ซ้ำ)

In [41]:
st_test1 = 'Department of Statistics, '
st_test2 = 'Faculty of Science'

In [42]:
print(st_test1+st_test2)

Department of Statistics, Faculty of Science

In [43]:
print(10*'t')

tttttttttt

In [44]:
print(3*st_test1)

Department of Statistics, Department of Statistics, Department of Statistics,

## ```split()``` แยก string

In [45]:
'a b c d e f g'.split()

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [46]:
'a,b/c,d e/f g'.split('/') #แยกเมื่อเจอ /

['a,b', 'c,d e', 'f g']

# Pandas dataframe
- boxplot

## Explore data

In [47]:
data1 = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_unittype.csv')

In [48]:
data1.describe()

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
count,42625.000000,42625.000000,3747.000000,36999.000000,3.542800e+04,1780.000000,0.0,29709.000000,23520.000000,41144.000000,40658.000000,13670.000000,13044.000000,20454.000000,10026.000000,2068.000000,4108.000000,699.000000
mean,21313.000000,938.471859,44.413819,139.286943,5.569699e+06,2.465730,NaN,1.945572,1.844090,2.286263,2.528137,1.001902,1.010810,1.018138,1.053860,1.048356,1.054771,1.058655
std,12304.921949,4220.823322,21.502884,111.939963,1.117088e+07,1.512717,NaN,0.658217,0.759404,1.145901,1.158793,0.043572,0.106334,0.134549,0.262145,0.227696,0.269673,0.284749
min,1.000000,1.000000,1.000000,14.000000,1.000000e+05,1.000000,NaN,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,10657.000000,1.000000,23.000000,60.000000,1.950000e+06,1.000000,NaN,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,21313.000000,2.000000,50.000000,125.000000,3.100000e+06,2.000000,NaN,2.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,31969.000000,3.000000,60.000000,179.000000,5.290000e+06,3.000000,NaN,2.000000,2.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,42625.000000,20000.000000,335.000000,4350.000000,5.800000e+08,10.000000,NaN,9.000000,10.000000,11.000000,10.000000,2.000000,3.000000,3.000000,5.000000,4.000000,5.000000,4.000000

- NaN = Not a number
- count --> นับจำนวนแถว แต่ที่ไม่เท่ากัน แปลว่า จาก shape มี 42625 แถว แต่ที่บางแถวไม่ครบ เพราะมันไม่นับค่าว่าง(ค่าว่าง = NaN)
- mean --> ค่าเฉลี่ย (44 --> จากบ้านสี่หมื่นกว่าหลังมีพื้นที่เฉลี่ย 44 ตร.วา)
- std --> ค่า Standard Deviation (SD) หรือค่าเบี่ยงเบนมาตรฐาน ค่านี้มีความสำคัญโดยจะใช้บอกค่าเฉลี่ยของระยะห่างของข้อมูลแต่ละตัวจากค่าเฉลี่ย โดยจะเปรียบเทียบกับค่า mean หรือค่าเฉลี่ยร่วมด้วย หากค่า std ต่ำ แปลว่า ค่าของข้อมูลแต่ละตัวไม่ต่างกันมาก หากค่า std สูง แปลว่า ค่าของข้อมูลแต่ละตัวมีความต่างกันมาก มีการกระจายของข้อมูลสูง (กระจายไประหว่าง 44 + - 21 เวลาสุ่มเจอบ่อยมาก)
- min --> ต่ำที่สุด,น้อยสุด (ค่าพื้นที่ที่น้อยที่สุด คือ 1 ตารางวา)
- 25% --> 25% ของบ้านทั้งหมด มีพท.น้อยกว่า 23 ตร.วา (25%ของจำนวนบ้านที่สำรวจมาทั้งหมดสี่หมื่นกว่าหลังมีพื้นที่น้อยกว่า 23ตรวา หรือมีจำนวนพื้นที่มากที่สุดคือ 23 ตรว )
- 50% --> 50% ของบ้านทั้งหมด มีพท.น้อยกว่า 50 ตร.วา
- 75% --> 75% ของบ้านทั้งหมด มีพท.น้อยกว่า 60 ตร.วา (ไม่ต่ำกว่า)
- max --> สูงสุด,มากสุด (ค่าพท.บ้านที่มากที่สุด คือ 335 ตร.วา)
- price  e+08 = 10^8แพงสุด 58 ล้าน
- parking มีมากสุด 10 ที่

## ชี้ค่าในตาราง

In [49]:
data1['propertytype_name_en'][42619] #วิธีเจาะจงค่าตาราง เลือกจาก count row

'Detached House'

## table slicing
[ข้อความลิงก์](https://devjourneys.com/2020/10/13/%E0%B8%81%E0%B8%B2%E0%B8%A3-slicing-arrays-%E0%B9%83%E0%B8%99-python/)

เราสามารถเฉือนตาราง ตัดตารางให้เหลือเท่าที่เราต้องการ แต่ที่การเฉือนตารางไม่ได้ช่วยในการตอบคำถามอะไรมากมาย ถ้าต้องการเรื่องราวที่เป็นคอนโดเท่านั้น แต่ยังไงเราก็ต้องมานับ คอลลัมน์ นับแถว ตามที่ตารางมีให้อยู่ดี

```iloc```

In [50]:
data1.iloc[-20:,7:10]

       area_total_min_wa  area_usable_min   price_min
42605                NaN              NaN   1300000.0
42606                NaN            349.0  18000000.0
42607                NaN             71.0  17000000.0
42608                NaN              NaN         NaN
42609                NaN              NaN         NaN
42610                NaN            250.0   5990000.0
42611                NaN              NaN         NaN
42612                NaN            154.0   4800000.0
42613               50.0            105.0   1900000.0
42614                NaN            142.1   4880000.0
42615                NaN             60.0   3500000.0
42616                NaN            200.0         NaN
42617                NaN              NaN         NaN
42618                NaN            130.0  36500000.0
42619                NaN            353.0  23590000.0
42620                NaN            157.0         NaN
42621                NaN            223.0   7490000.0
42622                NaN            133.0         NaN
42623                NaN            180.0   3200000.0
42624                NaN            170.0   3790000.0

In [51]:
#ถ้าจารย์ต้องการข้อมูลของคอนโด
data1[data1['propertytype_name_en']=='Condo']

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
10,5238,unittype_15162,project_4107,Studio Floor 5-8,2,Condo,คอนโด,NaN,30.0,1116000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:21:06,2020-10-14 00:58:44,baania,https://baania.com/th/project/ซิตี้โฮม-รัตนาธิ...
14,29911,unittype_25780,project_10313,1 Bedroom,2,Condo,คอนโด,NaN,50.0,1700000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:22:11,2020-10-14 01:09:03,baania,https://baania.com/th/project/พัทยา-เดล-เรย์-1...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42590,23548,unittype_15279,project_3976,1 Bedroom Tower 1 Floor 5-6,2,Condo,คอนโด,NaN,33.0,989000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:01,2020-10-14 00:58:25,baania,https://baania.com/th/project/เดอะ-สตาร์-คอนโด...
42602,39384,unittype_3476,project_812,2 Bedroom Type A,2,Condo,คอนโด,NaN,94.0,6345000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 11:00:11,2022-01-14 10:32:44,baania,https://baania.com/th/project/เดอะ-ยูนีค-คอนโด...
42604,1058,unittype_7949,project_2641,Typical 1 Bedroom,2,Condo,คอนโด,NaN,34.0,3120000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:25:14,2020-10-27 15:03:40,baania,https://baania.com/th/project/ศุภาลัย-ไลท์-รัช...
42607,13546,unittype_40152,project_17505,2 Bedroom,2,Condo,คอนโด,NaN,71.0,17000000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:23:03,2020-10-14 20:30:43,baania,https://baania.com/th/project/เดอะ-ไลน์-สาทร-1...
42615,36172,unittype_34140,project_14663,2 Bedroom,2,Condo,คอนโด,NaN,60.0,3500000.0,...,1.0,NaN,NaN,NaN,NaN,NaN,2022-02-28 15:30:05,2022-02-28 14:43:35,baania,https://baania.com/th/project/พลัส-คอนโด-โคราช...

In [52]:
[data1['propertytype_name_en']=='Condo'] #ใส่ฟันหนูเพราะค่าที่ต้องการเป็ฯตัวอักษรภาษาอังกฤษ
#ค่าในตารางถ้าเท่ากับคอนโดก็จะให้เป็น true ถ้าไม่ใช่ false

[0         True
 1        False
 2         True
 3         True
 4        False
          ...
 42620    False
 42621    False
 42622    False
 42623    False
 42624    False
 Name: propertytype_name_en, Length: 42625, dtype: bool]

In [53]:
#อยากได้บ้านที่ราคาเกิน10ล้านมีเท่าไหร่
data1[data1['price_min']>10000000]
#ค่าในตารางถ้าเท่ากับคอนโดก็จะให้เป็น true false

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...
11,2452,unittype_8521,project_2906,New Villa Valdivia,1,Detached House,บ้าน,NaN,441.0,36900000.0,...,1.0,1.0,1.0,1.0,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:47,baania,https://baania.com/th/project/แกรนด์-บางกอก-บู...
31,17879,5f682d5d0499a4001b30c305,5f6472855bdc5300198eb80a,2BR Duplex,2,Condo,คอนโด,NaN,293.0,34222500.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:26:37,2020-12-25 11:27:21,baania,https://baania.com/th/project/ไบรท์-ภูเก็ต-5f6...
35,6309,unittype_3461,project_754,Type C,1,Detached House,บ้าน,NaN,390.0,11000000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2020-12-04 10:44:19,2020-10-14 21:21:23,baania,https://baania.com/th/project/บ้านล้านนาธารา-เ...
37,26913,unittype_23137,project_9231,4 Bedroom,2,Condo,คอนโด,NaN,305.0,24000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:59,2020-10-14 01:08:28,baania,https://baania.com/th/project/บางกอก-การ์เด้น-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42576,35213,unittype_22962,project_8609,Manhattan,1,Detached House,บ้าน,NaN,465.0,28900000.0,...,NaN,2.0,2.0,1.0,NaN,NaN,2021-11-12 13:33:58,2021-10-03 15:21:58,baania,https://baania.com/th/project/เดอะ-เจนทริ-สุขุ...
42606,24384,unittype_14126,project_5602,ทาวน์โฮมสามชั้น,3,Townhome,ทาวน์โฮม,NaN,349.0,18000000.0,...,1.0,2.0,NaN,NaN,NaN,NaN,2020-12-04 10:45:58,2020-10-14 22:59:34,baania,https://baania.com/th/project/เดอะ-ซีนีธ-5602/...
42607,13546,unittype_40152,project_17505,2 Bedroom,2,Condo,คอนโด,NaN,71.0,17000000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:23:03,2020-10-14 20:30:43,baania,https://baania.com/th/project/เดอะ-ไลน์-สาทร-1...
42618,22299,unittype_13674,project_5356,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,130.0,36500000.0,...,NaN,NaN,1.0,NaN,NaN,NaN,2020-12-04 10:38:03,2020-10-14 00:47:50,baania,https://baania.com/th/project/บ้านศุธาวัลย์-53...
42619,11944,unittype_34884,project_15005,Ametrine,1,Detached House,บ้าน,NaN,353.0,23590000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2022-06-03 01:00:11,2022-06-03 00:51:19,baania,https://baania.com/th/project/เศรษฐสิริ-แจ้งวั...

In [54]:
#เราสามารถใช้ร่วมกับ .describe
data1[data1['price_min']>10000000].describe()

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
count,3481.000000,3481.000000,304.000000,3354.000000,3.481000e+03,138.000000,0.0,2149.000000,1784.000000,3420.000000,3411.000000,1570.000000,1236.000000,1897.000000,1396.000000,989.000000,497.000000,83.000000
mean,21066.205401,215.859523,52.622796,286.948606,2.577675e+07,4.536232,NaN,2.346208,2.867152,3.687427,3.357666,1.007006,1.046926,1.061676,1.169054,1.070779,1.108652,1.120482
std,12478.117102,2035.944151,31.406177,185.081647,2.789259e+07,2.015123,NaN,0.816617,1.284865,1.458689,1.101538,0.083437,0.222751,0.247118,0.473001,0.275603,0.411853,0.424769
min,1.000000,1.000000,1.000000,30.000000,1.003000e+07,1.000000,NaN,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,9796.000000,1.000000,30.000000,155.000000,1.300000e+07,3.000000,NaN,2.000000,2.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,21525.000000,1.000000,51.400000,265.000000,1.700000e+07,4.000000,NaN,2.000000,3.000000,4.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,32420.000000,2.000000,72.625000,362.750000,2.790200e+07,5.750000,NaN,3.000000,3.000000,5.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,42620.000000,20000.000000,335.000000,2548.000000,5.800000e+08,10.000000,NaN,7.000000,10.000000,10.000000,10.000000,2.000000,3.000000,3.000000,5.000000,4.000000,4.000000,4.000000

In [55]:
#หาพื้นที่
data1[data1['price_min']>10000000].describe()

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
count,3481.000000,3481.000000,304.000000,3354.000000,3.481000e+03,138.000000,0.0,2149.000000,1784.000000,3420.000000,3411.000000,1570.000000,1236.000000,1897.000000,1396.000000,989.000000,497.000000,83.000000
mean,21066.205401,215.859523,52.622796,286.948606,2.577675e+07,4.536232,NaN,2.346208,2.867152,3.687427,3.357666,1.007006,1.046926,1.061676,1.169054,1.070779,1.108652,1.120482
std,12478.117102,2035.944151,31.406177,185.081647,2.789259e+07,2.015123,NaN,0.816617,1.284865,1.458689,1.101538,0.083437,0.222751,0.247118,0.473001,0.275603,0.411853,0.424769
min,1.000000,1.000000,1.000000,30.000000,1.003000e+07,1.000000,NaN,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,9796.000000,1.000000,30.000000,155.000000,1.300000e+07,3.000000,NaN,2.000000,2.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,21525.000000,1.000000,51.400000,265.000000,1.700000e+07,4.000000,NaN,2.000000,3.000000,4.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,32420.000000,2.000000,72.625000,362.750000,2.790200e+07,5.750000,NaN,3.000000,3.000000,5.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,42620.000000,20000.000000,335.000000,2548.000000,5.800000e+08,10.000000,NaN,7.000000,10.000000,10.000000,10.000000,2.000000,3.000000,3.000000,5.000000,4.000000,4.000000,4.000000

In [56]:
data1['propertytype_name_en']

0                 Condo
1            Twin house
2                 Condo
3                 Condo
4              Townhome
              ...
42620    Detached House
42621    Detached House
42622          Townhome
42623    Detached House
42624    Detached House
Name: propertytype_name_en, Length: 42625, dtype: object

In [57]:
data1.iloc[42619,5] #รันแถวก่อนคอลลัมน์ numpy arrey ใส่ index ชี้ ติดลบได้ปกติ

'Detached House'

In [58]:
data1.iloc[-6,5] #ติดลบคือนับจากท้ายตาราง

'Detached House'

# Pandas101

In [59]:
unit = pd.read_csv('/content/drive/My Drive/BPDV65/opendata_unittype.csv')
unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

![Screenshot 2022-09-11 230234.png]()

## ต่อตาราง

## ต่อตารางแกน Y (เพิ่มปริมาณ ข้อมูล)

In [60]:
unit.shape

(42625, 27)

ตัดตารางออกเป็น 2 ส่วน

In [61]:
unitA = unit.iloc[:15000,:]
unitB = unit.iloc[15000:,:]

In [62]:
unitA.shape

(15000, 27)

In [63]:
unitB.shape

(27625, 27)

In [64]:
unitA.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [65]:
unitB.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
15000,14305,5e799413944232001a5d4b1e,5e798f7e944232001a5d4afd,2 Bedroom,2,Condo,คอนโด,NaN,38.0,2700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-08 23:30:06,2021-12-08 23:08:00,baania,https://baania.com/th/project/รีเกิล-สุขุมวิท-...
15001,40239,60ab33893422b400139fbc16,60ab312d636bb200158f2f77,3 Bedroom,2,Condo,คอนโด,NaN,224.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-04 15:30:04,2022-05-04 15:07:42,baania,https://baania.com/th/project/เดอะ-พิลล่า-60ab...
15002,18389,5fa50d7ec7e77400194377e4,5fa4fda7d0235b0019c197f3,ALEXIA,1,Detached House,บ้าน,NaN,154.0,4790000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2022-02-22 15:30:04,2022-02-22 15:10:23,baania,https://baania.com/th/project/อภิทาวน์-ศิลา-ขอ...
15003,19024,5fd73878ee0d7f001240a9b5,5efc3f8ebc2af40019402f9a,Alpine,1,Detached House,บ้าน,NaN,288.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:26:07,2020-12-14 17:04:09,baania,https://baania.com/th/project/เดอะ-มาสเตอร์-ศร...
15004,7884,unittype_36150,project_15499,ทาวน์โฮมสองชั้น,3,Townhome,ทาวน์โฮม,NaN,NaN,2120000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:50,2020-10-14 20:09:07,baania,https://baania.com/th/project/เดอะ-วัลเลย์-สุข...

In [66]:
dataall = pd.concat([unitA,unitB]) # list ให้ความสำคัญกับลำดับ

In [67]:
dataall.shape

(42625, 27)

In [68]:
dataall.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [69]:
pd.concat([unitB,unitA]).head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
15000,14305,5e799413944232001a5d4b1e,5e798f7e944232001a5d4afd,2 Bedroom,2,Condo,คอนโด,NaN,38.0,2700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-08 23:30:06,2021-12-08 23:08:00,baania,https://baania.com/th/project/รีเกิล-สุขุมวิท-...
15001,40239,60ab33893422b400139fbc16,60ab312d636bb200158f2f77,3 Bedroom,2,Condo,คอนโด,NaN,224.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-04 15:30:04,2022-05-04 15:07:42,baania,https://baania.com/th/project/เดอะ-พิลล่า-60ab...
15002,18389,5fa50d7ec7e77400194377e4,5fa4fda7d0235b0019c197f3,ALEXIA,1,Detached House,บ้าน,NaN,154.0,4790000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2022-02-22 15:30:04,2022-02-22 15:10:23,baania,https://baania.com/th/project/อภิทาวน์-ศิลา-ขอ...
15003,19024,5fd73878ee0d7f001240a9b5,5efc3f8ebc2af40019402f9a,Alpine,1,Detached House,บ้าน,NaN,288.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:26:07,2020-12-14 17:04:09,baania,https://baania.com/th/project/เดอะ-มาสเตอร์-ศร...
15004,7884,unittype_36150,project_15499,ทาวน์โฮมสองชั้น,3,Townhome,ทาวน์โฮม,NaN,NaN,2120000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:50,2020-10-14 20:09:07,baania,https://baania.com/th/project/เดอะ-วัลเลย์-สุข...

## ต่อตารางแกน  X (เพิ่มรายละเอียดของข้อมูล)

In [70]:
unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [71]:
project = pd.read_csv('/content/drive/My Drive/BPDV65/opendata_project.csv')
project.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

In [72]:
unit.describe()

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
count,42625.000000,42625.000000,3747.000000,36999.000000,3.542800e+04,1780.000000,0.0,29709.000000,23520.000000,41144.000000,40658.000000,13670.000000,13044.000000,20454.000000,10026.000000,2068.000000,4108.000000,699.000000
mean,21313.000000,938.471859,44.413819,139.286943,5.569699e+06,2.465730,NaN,1.945572,1.844090,2.286263,2.528137,1.001902,1.010810,1.018138,1.053860,1.048356,1.054771,1.058655
std,12304.921949,4220.823322,21.502884,111.939963,1.117088e+07,1.512717,NaN,0.658217,0.759404,1.145901,1.158793,0.043572,0.106334,0.134549,0.262145,0.227696,0.269673,0.284749
min,1.000000,1.000000,1.000000,14.000000,1.000000e+05,1.000000,NaN,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,10657.000000,1.000000,23.000000,60.000000,1.950000e+06,1.000000,NaN,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,21313.000000,2.000000,50.000000,125.000000,3.100000e+06,2.000000,NaN,2.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,31969.000000,3.000000,60.000000,179.000000,5.290000e+06,3.000000,NaN,2.000000,2.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,42625.000000,20000.000000,335.000000,4350.000000,5.800000e+08,10.000000,NaN,9.000000,10.000000,11.000000,10.000000,2.000000,3.000000,3.000000,5.000000,4.000000,5.000000,4.000000

### ต่อแบบเอาตารางมาต่อกันเลย

In [73]:
unit.merge(project)

ValueError: ignored

In [74]:
unit.merge(project, left_on='project_id', right_on='project_id')

,row_number_x,unittype_id,project_id,name_th_x,propertytype_id_x,propertytype_name_en_x,propertytype_name_th_x,area_total_min_wa,area_usable_min,price_min_x,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created_y,date_finish,date_updated_y,source_y,url_project
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,NaN,1.0,NaN,1.0,1.0,2016-11-10 16:56:40,2018-01-01 07:00:00,2021-11-19 18:00:09,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,38108,unittype_18502,project_2446,1 Bedroom,2,Condo,คอนโด,NaN,24.0,1390000.0,...,NaN,1.0,NaN,1.0,1.0,2016-11-10 16:56:40,2018-01-01 07:00:00,2021-11-19 18:00:09,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
2,2396,unittype_9564,project_2446,1 Bedroom Plus,2,Condo,คอนโด,NaN,29.0,1990000.0,...,NaN,1.0,NaN,1.0,1.0,2016-11-10 16:56:40,2018-01-01 07:00:00,2021-11-19 18:00:09,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
3,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,2017-01-24 13:55:45,2022-01-01 07:00:00,2022-01-27 14:30:04,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
4,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,2017-01-24 13:55:45,2022-01-01 07:00:00,2022-01-27 14:30:04,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53724,33124,unittype_21700,project_8631,อาคารพาณิชย์สามชั้น,4,Commercial,อาคารพาณิชย์,NaN,250.0,5990000.0,...,NaN,NaN,NaN,NaN,NaN,2017-07-11 15:26:09,1970-01-02 07:00:00,2020-12-04 10:46:14,baania,https://baania.com/th/project/พลอยไพลิน-เพลส-p...
53725,11293,unittype_32960,project_14046,บ้านเดี่ยวสองชั้น,1,Detached House,บ้าน,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,2018-07-02 09:22:58,2015-12-31 07:00:00,2020-12-04 10:44:59,baania,https://baania.com/th/project/เดอะ-ซันไรซ์-โอเ...
53726,41022,617fc61e551dd10015a6933e,617fc4d3f62011001350de55,ทาวน์โฮมสามชั้น,3,Townhome,ทาวน์โฮม,NaN,142.1,4880000.0,...,NaN,1.0,NaN,1.0,1.0,2021-11-01 17:43:31,NaN,2021-11-02 10:30:03,baania,https://baania.com/th/project/บ้านกลางเมือง-สุ...
53727,35109,unittype_1459,project_711,บ้านแสงรุ่ง,3,Townhome,ทาวน์โฮม,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2015-10-27 14:23:04,1970-01-02 07:00:00,2020-12-04 10:36:46,baania,https://baania.com/th/project/บ้านแสงรุ่ง-proj...
53728,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,...,NaN,NaN,NaN,NaN,NaN,2019-07-12 15:47:44,1970-01-02 07:00:00,2020-12-04 10:42:26,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...

1. ราคาบ้านที่แพงที่สุดในจังหวัดขอนแก่น

In [75]:
this = unit.merge(project, left_on='project_id', right_on='project_id')
this[this['province_name_th']=='ขอนแก่น'].max()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

row_number_x                                                          42358
unittype_id                                                   unittype_9260
project_id                                                     project_3092
name_th_x                                                              ไทโซ
propertytype_id_x                                                     20000
propertytype_name_en_x                                           Twin house
propertytype_name_th_x                                            โฮมออฟฟิศ
area_total_min_wa                                                      96.0
area_usable_min                                                      1004.0
price_min_x                                                      19580000.0
count_airconditioner                                                    5.0
count_elevator_x                                                        NaN
count_floor_internal                                                    9.0
count_parking_x                                                         5.0
count_room_bath                                                         7.0
count_room_bed                                                          6.0
count_room_dinning                                                      1.0
count_room_guest                                                        2.0
count_room_kitchen                                                      2.0
count_room_living                                                       2.0
count_room_maid                                                         2.0
count_room_storage                                                      3.0
count_room_utility                                                      1.0
date_created_x                                          2022-06-03 01:00:10
date_updated_x                                          2022-06-03 00:32:58
source_x                                                             baania
url_unittype              https://baania.com/th/project/ไฮด์-คอนโด-1909/...
row_number_y                                                        23398.0
name_en                                      ํํYoucharoen Baan Thum Phase 2
name_th_y                                                        ไฮด์ คอนโด
propertytype_id_y                                                         6
propertytype_name_en_y                                           Twin house
propertytype_name_th_y                                            โฮมออฟฟิศ
price_min_y                                                        999000.0
developer_id                                                 developer_9970
latitude                                                          16.862644
longitude                                                        103.084464
subdistrict_id                                                       2851.0
district_id                                                          2850.0
district_name_en                                                  WAENG NOI
district_name_th                                                    แวงน้อย
province_id                                                          2637.0
province_name_en                                                  Khon Kaen
province_name_th                                                    ขอนแก่น
zipcode                                                             40320.0
count_tower                                                            None
count_unit                                                            983.0
count_unittype                                                         15.0
facility_clubhouse                                                      1.0
facility_fitness                                                        1.0
facility_meeting                                                        1.0
facility_park                                                           1.0
facility_playground                                                     1.0
facility_pool                                                           1.0
facility_security                                                       1.0
date_created_y                                          2022-04-20 11:32:40
date_updated_y                                          2022-06-03 01:00:10
source_y                                                             baania
url_project               https://baania.com/th/project/ไฮด์-คอนโด-proje...
dtype: object

### ต่อแบบเลือกมาเฉพาะบาง column (map)

In [76]:
unit.merge(project, left_on='project_id', right_on='project_id')

,row_number_x,unittype_id,project_id,name_th_x,propertytype_id_x,propertytype_name_en_x,propertytype_name_th_x,area_total_min_wa,area_usable_min,price_min_x,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created_y,date_finish,date_updated_y,source_y,url_project
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,NaN,1.0,NaN,1.0,1.0,2016-11-10 16:56:40,2018-01-01 07:00:00,2021-11-19 18:00:09,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,38108,unittype_18502,project_2446,1 Bedroom,2,Condo,คอนโด,NaN,24.0,1390000.0,...,NaN,1.0,NaN,1.0,1.0,2016-11-10 16:56:40,2018-01-01 07:00:00,2021-11-19 18:00:09,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
2,2396,unittype_9564,project_2446,1 Bedroom Plus,2,Condo,คอนโด,NaN,29.0,1990000.0,...,NaN,1.0,NaN,1.0,1.0,2016-11-10 16:56:40,2018-01-01 07:00:00,2021-11-19 18:00:09,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
3,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,2017-01-24 13:55:45,2022-01-01 07:00:00,2022-01-27 14:30:04,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
4,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,2017-01-24 13:55:45,2022-01-01 07:00:00,2022-01-27 14:30:04,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53724,33124,unittype_21700,project_8631,อาคารพาณิชย์สามชั้น,4,Commercial,อาคารพาณิชย์,NaN,250.0,5990000.0,...,NaN,NaN,NaN,NaN,NaN,2017-07-11 15:26:09,1970-01-02 07:00:00,2020-12-04 10:46:14,baania,https://baania.com/th/project/พลอยไพลิน-เพลส-p...
53725,11293,unittype_32960,project_14046,บ้านเดี่ยวสองชั้น,1,Detached House,บ้าน,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,2018-07-02 09:22:58,2015-12-31 07:00:00,2020-12-04 10:44:59,baania,https://baania.com/th/project/เดอะ-ซันไรซ์-โอเ...
53726,41022,617fc61e551dd10015a6933e,617fc4d3f62011001350de55,ทาวน์โฮมสามชั้น,3,Townhome,ทาวน์โฮม,NaN,142.1,4880000.0,...,NaN,1.0,NaN,1.0,1.0,2021-11-01 17:43:31,NaN,2021-11-02 10:30:03,baania,https://baania.com/th/project/บ้านกลางเมือง-สุ...
53727,35109,unittype_1459,project_711,บ้านแสงรุ่ง,3,Townhome,ทาวน์โฮม,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2015-10-27 14:23:04,1970-01-02 07:00:00,2020-12-04 10:36:46,baania,https://baania.com/th/project/บ้านแสงรุ่ง-proj...
53728,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,...,NaN,NaN,NaN,NaN,NaN,2019-07-12 15:47:44,1970-01-02 07:00:00,2020-12-04 10:42:26,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...

In [78]:
unit['project_id'].map(project.set_index('project_id')['price_min'])

InvalidIndexError: ignored

In [79]:
project_nodup = project.drop_duplicates(subset=['project_id'])

In [80]:
unit['pricemin'] = unit['project_id'].map(project_nodup.set_index('project_id')['price_min'])

In [81]:
unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,pricemin
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...,1390000.0
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...,1990000.0
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...,1600000.0
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...,170000.0
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...,2390000.0

## บันทึกตารางเป็นไฟล์

In [82]:
unit

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,pricemin
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...,1390000.0
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...,1990000.0
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...,1600000.0
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...,170000.0
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...,2390000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42620,37109,unittype_38508,project_16864,Canola,1,Detached House,บ้าน,NaN,157.0,NaN,...,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:22:37,2020-10-14 10:05:42,baania,https://baania.com/th/project/อิคอนเนเจอร์-พระ...,5590000.0
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,NaN,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...,11500000.0
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,Grande,3,Townhome,ทาวน์โฮม,NaN,133.0,NaN,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:34:17,2021-10-29 18:43:09,baania,https://baania.com/th/project/เดอะริคโค้-ทาวน์...,2890000.0
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,...,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...,3200000.0
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,NaN,170.0,3790000.0,...,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...,2490000.0

In [83]:
unit.to_csv('/content/drive/My Drive/BPDV65/myunit.csv')

In [84]:
#unit.to_excel('/content/drive/My Drive/BPDV65/myunit.xlsx')

In [85]:
unit.to_excel('/content/drive/My Drive/BPDV65/myunit.xlsx',sheet_name='unit1')

In [86]:
unit_from_excel = pd.read_excel('/content/drive/My Drive/BPDV65/myunit.xlsx',sheet_name='unit1')

In [87]:
unit_from_excel.head()

,Unnamed: 0,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,...,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,pricemin
0,0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,...,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...,1390000.0
1,1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,...,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...,1990000.0
2,2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,...,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...,1600000.0
3,3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,...,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...,170000.0
4,4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,...,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...,2390000.0

### creat *ตาราง*

![creat ตาราง.jpg]()

## Dictionary-RowOriented

In [88]:
sales = [{'account' : 'Jones LLC','Jan' : 150,'Feb' : 200,'Mar' : 140},
            {'account' : 'Alpha Co','Jan' : 200,'Feb' : 210,'Mar' : 215},
            {'account' : 'Blue Inc','Jan' : 50,'Feb' : 90,'Mar' : 95}]

In [89]:
df = pd.DataFrame(sales)
df

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

## Dictionary-ColumnOriented

In [90]:
sales = {'account' : ['Jones LLC', 'Alpha Co', 'Blue Inc'],
            'Jan' : [150,200,140],
            'Feb' : [200,210,90],
            'Mar' : [140,215,95]}

In [91]:
df = pd.DataFrame.from_dict(sales)
df

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc  140   90   95

## List-RowOriented

In [92]:
sales = [['Jones LLC', 150, 200, 140],
            ['Alpha Co', 200, 210, 215],
            ['Blue Inc', 50, 90, 95]]
columnname = ['account','Jan','Feb','Mar']

In [93]:
df = pd.DataFrame.from_records(sales,columns=columnname)
df

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

# HW2
1. เปรียบเทียบราคาเฉลี่ยของ Detached house, Condo, Twin house และ Townhome
2. พื้นที่ (area_total_min_wa และ area_usable_min) และ จำนวนห้องนอนของทรัพย์สินที่แพงที่สุดแต่ละชนิด
3. จำนวนที่จอดรถและห้องน้ำของของทรัพย์สินที่ถูกที่สุดแต่ละชนิด

##1.เปรียบเทียบราคาเฉลี่ยของ Detached house, Condo, Twin house และ Townhome

In [109]:
unit.head() # โชว์ข้อมูลตัวอย่างเพื่อแสดงว่าหัวตารางมีอะไรบ้าง

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,pricemin
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...,1390000.0
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...,1990000.0
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...,1600000.0
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...,170000.0
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...,2390000.0

In [110]:
unit.groupby(['propertytype_name_en'])['price_min'].mean()[['Detached House', 'Condo', 'Twin house', 'Townhome' ]]

propertytype_name_en
Detached House    6.674175e+06
Condo             6.266300e+06
Twin house        3.612469e+06
Townhome          2.810930e+06
Name: price_min, dtype: float64

### ของจาร

In [111]:
unit.groupby('propertytype_name_en')['price_min'].mean().reset_index() # ทำให้ตารางไม่เหลื่อม

   propertytype_name_en     price_min
0             Apartment  1.888571e+06
1            Commercial  4.440612e+06
2                 Condo  6.266300e+06
3        Detached House  6.674175e+06
4           Home office  1.047904e+07
5                 Hotel  1.081375e+07
6                  Land  5.687840e+06
7          Office Space  1.583333e+07
8              Townhome  2.810930e+06
9            Twin house  3.612469e+06
10  Warehouse / Factory  1.840900e+07

In [113]:
unit.groupby('propertytype_name_en').mean().reset_index() [['propertytype_name_en','price_min']]

   propertytype_name_en     price_min
0             Apartment  1.888571e+06
1            Commercial  4.440612e+06
2                 Condo  6.266300e+06
3        Detached House  6.674175e+06
4           Home office  1.047904e+07
5                 Hotel  1.081375e+07
6                  Land  5.687840e+06
7          Office Space  1.583333e+07
8              Townhome  2.810930e+06
9            Twin house  3.612469e+06
10  Warehouse / Factory  1.840900e+07

In [125]:
xx = unit.groupby('propertytype_name_en').mean().reset_index() [['propertytype_name_en','price_min']][[False,False,True,True,False,False,False,True,True,False]]
xx                                                                                                                                                 # False ไม่เอา True เอา ex F อันแรก = ไม่เอาApartment

ValueError: ignored

In [116]:

XX = unit.groupby('propertytype_name_en').mean().reset_index()[['propertytype_name_en','price_min']]
XX[(XX['propertytype_name_en']=='Condo') | (XX['propertytype_name_en']=='Detached House') | (XX['propertytype_name_en']=='Townhome') | (XX['propertytype_name_en']=='Twin house')]

  propertytype_name_en     price_min
2                Condo  6.266300e+06
3       Detached House  6.674175e+06
8             Townhome  2.810930e+06
9           Twin house  3.612469e+06

## 2.พื้นที่ (area_total_min_wa และ area_usable_min) และ จำนวนห้องนอนของทรัพย์สินที่แพงที่สุดแต่ละชนิด

In [117]:
dm = unit.dropna(subset=['propertytype_name_en','price_min','area_total_min_wa','area_usable_min','count_room_bed','count_parking','count_room_bath','price_min']) # ลบ missing ออก

In [118]:
dm.groupby(['propertytype_name_en']).max()[['area_total_min_wa','area_usable_min','count_room_bed','price_min']]
 #Groupby ชนิดของบ้านแต่ละชนิด ใช้.max() หาค่าแพงที่สุด ใช้list เลือกเฉพาะ column พื้นที่และจำนวนห้องนอน

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  """Entry point for launching an IPython kernel.

,area_total_min_wa,area_usable_min,count_room_bed,price_min
propertytype_name_en,,,,
Commercial,38.0,480.0,6.0,13600000.0
Detached House,100.0,850.0,7.0,110000000.0
Home office,66.0,640.0,5.0,32000000.0
Townhome,65.2,740.0,6.0,80000000.0
Twin house,96.5,330.0,5.0,18500000.0

### ของจาร

In [119]:
unit.groupby('propertytype_name_en') [['price_min','area_total_min_wa','area_usable_min','count_room_bed']].max()

,price_min,area_total_min_wa,area_usable_min,count_room_bed
propertytype_name_en,,,,
Apartment,2490000.0,NaN,450.0,4.0
Commercial,52000000.0,60.0,1360.0,10.0
Condo,580000000.0,NaN,4350.0,10.0
Detached House,285000000.0,335.0,3175.0,10.0
Home office,92000000.0,73.6,1065.0,10.0
Hotel,27300000.0,NaN,210.0,3.0
Land,12800000.0,80.0,NaN,0.0
Office Space,25000000.0,NaN,585.0,4.0
Townhome,120000000.0,65.2,1000.0,10.0
Twin house,129000000.0,96.5,772.5,10.0
Warehouse / Factory,29200000.0,NaN,970.0,NaN

In [120]:
maxprice = unit.groupby('propertytype_name_en') [['price_min','area_total_min_wa','area_usable_min','count_room_bed']].max().reset_index()
maxprice

,propertytype_name_en,price_min,area_total_min_wa,area_usable_min,count_room_bed
0,Apartment,2490000.0,NaN,450.0,4.0
1,Commercial,52000000.0,60.0,1360.0,10.0
2,Condo,580000000.0,NaN,4350.0,10.0
3,Detached House,285000000.0,335.0,3175.0,10.0
4,Home office,92000000.0,73.6,1065.0,10.0
5,Hotel,27300000.0,NaN,210.0,3.0
6,Land,12800000.0,80.0,NaN,0.0
7,Office Space,25000000.0,NaN,585.0,4.0
8,Townhome,120000000.0,65.2,1000.0,10.0
9,Twin house,129000000.0,96.5,772.5,10.0
10,Warehouse / Factory,29200000.0,NaN,970.0,NaN

In [121]:
for row in maxprice.iterrows():
    print(row[1]['propertytype_name_en'],row[1]['price_min'])
    print(unit[(unit['propertytype_name_en']==row[1]['propertytype_name_en']) & (unit['price_min']==row[1]['price_min'])][['area_total_min_wa','area_usable_min','count_room_bed']])

Apartment 2490000.0
       area_total_min_wa  area_usable_min  count_room_bed
13366                NaN              NaN             1.0
Commercial 52000000.0
       area_total_min_wa  area_usable_min  count_room_bed
10190                NaN           1065.0             7.0
Condo 580000000.0
       area_total_min_wa  area_usable_min  count_room_bed
33122                NaN           1182.0             3.0
Detached House 285000000.0
       area_total_min_wa  area_usable_min  count_room_bed
18443                NaN           2400.0             5.0
Home office 92000000.0
       area_total_min_wa  area_usable_min  count_room_bed
39868                NaN            856.0             NaN
Hotel 27300000.0
       area_total_min_wa  area_usable_min  count_room_bed
32899                NaN            120.0             2.0
Land 12800000.0
       area_total_min_wa  area_usable_min  count_room_bed
20248                NaN              NaN             NaN
Office Space 25000000.0
       area_total_min_wa  area_usable_min  count_room_bed
22348                NaN            585.0             NaN
Townhome 120000000.0
       area_total_min_wa  area_usable_min  count_room_bed
25460                NaN           1000.0             6.0
Twin house 129000000.0
       area_total_min_wa  area_usable_min  count_room_bed
26629                NaN           724.95             4.0
Warehouse / Factory 29200000.0
       area_total_min_wa  area_usable_min  count_room_bed
19424                NaN            970.0             NaN

ปริ้นค่าในแต่ละแถวของตาราง

In [122]:
unit[(unit['propertytype_name_en']==row[1]['propertytype_name_en']) & (unit['price_min']==row[1]['price_min'])][['area_total_min_wa','area_usable_min','count_room_bed']]

       area_total_min_wa  area_usable_min  count_room_bed
19424                NaN            970.0             NaN

##3.จำนวนที่จอดรถและห้องน้ำของของทรัพย์สินที่ถูกที่สุดแต่ละชนิด

In [ ]:
dm.groupby(['propertytype_name_en']).min()[['count_parking','count_room_bath','price_min']]
 #Groupby ชนิดของบ้านแต่ละชนิด ใช้.min() หาค่าต่ำที่สุด ใช้list เลือกเฉพาะ column พื้นที่และจำนวนห้องนอน

                      count_parking  count_room_bath  price_min
propertytype_name_en
Commercial                      1.0              1.0  1690000.0
Detached House                  1.0              1.0   850000.0
Home office                     1.0              2.0  1990000.0
Townhome                        1.0              1.0   800000.0
Twin house                      1.0              1.0  1080000.0

### ของจาร

In [ ]:
minprice = unit.groupby('propertytype_name_en') [['price_min','count_parking','count_room_bath']].min().reset_index()
minprice

  propertytype_name_en   price_min  count_parking  count_room_bath
0            Apartment   1390000.0            NaN              1.0
1           Commercial    468000.0            1.0              0.0
2                Condo    100000.0            1.0              0.0
3       Detached House    150000.0            1.0              0.0
4          Home office   1440500.0            1.0              0.0
5                Hotel   1390000.0            NaN              1.0
6         Office Space  11500000.0            NaN              5.0
7             Townhome    190000.0            1.0              0.0
8           Twin house    179000.0            1.0              0.0
9  Warehouse / Factory   7990000.0            NaN              0.0

In [ ]:
for row in minprice.iterrows():
    print(row[1]['propertytype_name_en'],row[1]['price_min'])
    print(unit[(unit['propertytype_name_en']==row[1]['propertytype_name_en']) & (unit['price_min']==row[1]['price_min'])][['count_parking','count_room_bath']])

Apartment 1390000.0
       count_parking  count_room_bath
16700            NaN              1.0
Commercial 468000.0
      count_parking  count_room_bath
9006            NaN              0.0
Condo 100000.0
       count_parking  count_room_bath
8640             NaN              1.0
11019            NaN              1.0
17941            NaN              1.0
30364            NaN              1.0
Detached House 150000.0
      count_parking  count_room_bath
3729            NaN              1.0
Home office 1440500.0
       count_parking  count_room_bath
14390            3.0              3.0
Hotel 1390000.0
      count_parking  count_room_bath
3222            NaN              1.0
Office Space 11500000.0
      count_parking  count_room_bath
6454            NaN              6.0
Townhome 190000.0
       count_parking  count_room_bath
11036            NaN              2.0
Twin house 179000.0
      count_parking  count_room_bath
1133            2.0              1.0
Warehouse / Factory 7990000.0
       count_parking  count_room_bath
21711            NaN              0.0

In [ ]:
unit[(unit['propertytype_name_en']==row[1]['propertytype_name_en']) & (unit['price_min']==row[1]['price_min'])][['count_parking','count_room_bath']]

       count_parking  count_room_bath
21711            NaN              0.0